body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  background: #ffde59;
  overflow: hidden;
  font-family: "Fredoka", system-ui;
  letter-spacing: 2px;
}

.background {
  width: 100%;

  position: absolute;
  bottom: 0%;
  z-index: -1;
}

.logo {
  width: 30vw;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.holder {
  display: flex;
  flex-direction: column;
  gap: 6vh;

  max-width: 500px;
  width: 90%;

  position: absolute;
  top: 11rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.extra-text {
  color: black;
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.yellow {
  /* background-color: black; */
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 8px;

  color: black;
  font-weight: 600;
  font-size: 20px;
}

.details .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.details .infologo {
  width: 16px;
  height: 16px;
}

.input {
  display: flex;
  justify-content: center;
  gap: 10px;

}

.input input {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  border: none;
  font-size: x-large;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.input input:focus {
  outline: 2px solid whitesmoke;
}

.input input::placeholder {
  color: white;
  font-size: medium;
}

.input .submit-btn {
  padding: 10px;
  font-weight: bolder;

  color: white;
  font-weight: bolder;

  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  border: 2px solid whitesmoke;
  cursor: pointer;

}

.sponsor {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.sponsor {
  padding: 6px 8px;
  border-radius: 8px;
  background: transparent;
  backdrop-filter: blur(10px);
  font-weight: 800;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 8px 38px 0 #ffffff;
}

.sponsor:hover {
  box-shadow: 0 2px 10px 0 #ffffff;

}

.input .submit-btn:disabled {
  border: none;
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.custom-alert.hidden {
  display: none;
}

.custom-alert-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 60;
}

.custom-alert-content p {
  margin: 0 0 20px;
  font-size: 18px;
  color: #333;
}

.close-alert-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-alert-btn:hover {
  background-color: #45a049;
}

@media screen and (max-aspect-ratio: 1) {
  .logo {
    width: 90vw;
    top: 1rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 1100px) {

  .holder {
    top: 5rem
  }

  .details {
    font-size: 16px;
  }

  .extra-text {
    font-size: 16px;
  }
}