body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, black 10%, #0000ff 75%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.header {
    background-image: url('./assets/png/stars2.png');
    background-position: top;
    background-size: 50%;
    background-blend-mode: soft-light;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.back-img {
    width: 100vw;
    height: 40vh;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.land {
    background-image: url('./assets/svg/grid.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: end;
}

.alltrees {
    background-image: url('./assets/png/allTreesCrop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;

    margin-bottom: -1%;
}

.alltrees .tower {
    width: 13vw;
    aspect-ratio: 1/2;

    position: absolute;
    bottom: 0;
    left: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: -1%;
}

.alltrees .tower::before {
    content: '';

    position: absolute;

    width: 15vw;
    aspect-ratio: 1/2;

    background: rgb(230, 210, 42);
    background: radial-gradient(ellipse at center, rgba(230, 210, 42, 1) 0%, rgba(230, 210, 42, 0) 70%);
    z-index: -1;

}

.alltrees .tower img {
    width: 100%;
    height: 100%;
}

.alltrees .statue {
    background: url('./assets/svg/statue.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    width: 13vw;
    aspect-ratio: 1/2;

    position: absolute;
    bottom: 0;
    right: 23vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: -8%;

}

.blossom {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;

    z-index: 0;
}

.sun {
    background: url("./assets/svg/sunNoBlossom.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 350px;
    height: 350px;

    margin-top: 30vh;
}

.sun::before {
    content: '';

    position: absolute;
    top: 20vh;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgb(230, 210, 42);
    background: radial-gradient(circle, rgba(230, 210, 42, 1) 0%, rgba(230, 210, 42, 0) 39%);
}


.elevated {
    padding: 6px 8px;
    border-radius: 8px;
    background: transparent;
    backdrop-filter: blur(10px);
    font-weight: 800;
    color: white;
    border: 2px solid #4900FF;
    cursor: pointer;
    box-shadow: 0 8px 38px 0 #4900FF;
}

.elevated:hover {
    box-shadow: 0 2px 10px 0 #4900FF;

}

#sponsor {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* h1 {
    color: white;

    .yellow {
        display: inline-flex;
        color: yellow;
        font-size: 3.5rem;
        padding: 0px 6px;
        border-radius: 6px;
        border: 1px solid yellow;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
    }

}

h1:hover .yellow:not(:hover) {
    transform: rotateY(360deg);
    transition: 1s ease-in-out;

} */

.index-10 {
    z-index: 10;
}

.content-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
    z-index: 10;
}

/* .flex-end {
    animation: moveup 10s ease-in-out;
} */

@keyframes moveup {
    from {
        justify-content: center;
    }

    to {
        justify-content: flex-start;
    }
}

/* @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
} */

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 1rem;
    padding-top: 0;
    margin: 1rem;

    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 38px 0 rgba(230, 210, 42, 1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid rgba(230, 210, 42, 0.7);


    width: 10px;
    height: 10px;

    position: absolute;
    opacity: 0;
    z-index: -1;

    transition: transform 1s ease-in-out, opacity 0.9s ease-in-out;

}

.move-anime {
    width: fit-content;
    height: fit-content;

    z-index: 10;
    transform: translateY(-25vh);
    opacity: 1;
}

@keyframes moveup {
    100% {

        width: fit-content;
        height: fit-content;

        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 1;
    }
}

.contents h2 {
    color: white;
}

.contents h2 span {
    color: yellow;
}

.contents .input {
    display: flex;
    justify-content: space-around;
    gap: 10px
}

.contents input {
    background-color: transparent;
    border: none;
    font-size: larger;
    color: white;
    outline: 2px solid grey;
    padding: 8px;
    border-radius: 8px;
}

.contents input:focus {
    outline: 2px solid #4900FF;
    box-shadow: 0 8px 38px 0 #4900FF;

}

.contents .submit-btn {
    padding: 10px;
    font-weight: bolder;

    color: white;

    background: transparent;
    border-radius: 10px;

    border: 2px solid #4900FF;
    box-shadow: 0 8px 38px 0 #4900FF;

}

.contents .submit-btn:disabled {
    border: 2px solid grey;
    box-shadow: none;
}

.details {
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 8px;
}

.details .logo {
    width: 16px;
    height: 16px;

    filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, .7));
}

.extra-text {
    color: yellow;
    font-weight: bolder;
    font-size: 10px;
    text-align: center;
}

.x-bit {
    font-size: 2.5rem;
    font-weight: 700;

    width: fit-content;
    height: fit-content;

    margin-bottom: 2%;
    background-color: rgb(216, 142, 4);
    border-radius: 15px;
    padding: 10px 15px;
    border: 3px solid rgba(230, 210, 42);
    box-shadow: 0 8px 38px 0 rgba(230, 210, 42, 1);
    cursor: pointer;

    color: rgba(230, 210, 42);
    text-shadow:
        1px 1px 1px rgb(153, 138, 3),
        1px 2px 1px rgb(153, 138, 3),
        1px 3px 1px rgb(153, 138, 3),
        1px 4px 1px #919191;

    display: flex;
    justify-content: center;
    align-items: end;

}

.text3d {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    margin-bottom: 2%;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px rgba(230, 210, 42, 0.2),
        1px -2px 1px rgba(230, 210, 42, 0.2),
        1px -3px 1px #919191,
        1px -4px 1px #919191,
        1px -5px 1px rgba(230, 210, 42, 0.2),
        1px -6px 1px rgba(230, 210, 42, 0.2),
        1px 18px 6px rgba(230, 210, 42, 0.4),
        1px 22px 10px rgba(230, 210, 42, 0.4),
        1px 25px 35px rgba(230, 210, 42, 0.4),
        1px 30px 60px rgba(230, 210, 42, 0.4);
}

@media screen and (max-width:500px) {
    .text3d {
        font-size: 1.8rem;
    }

    .contents .details {
        flex-direction: column;
        width: fit-content;
    }
}

@media (max-aspect-ratio: 1/1) {
    .alltrees .tower {
        width: 20vw;
        left: 5vw;
    }

    .alltrees .statue {
        width: 20vw;
        right: 5vw;
    }
}
